
header {
  height: 5rem;
  width: 100%;
  position: relative;
  z-index: 100;
}

.container {
  max-width: 80rem;
  margin: auto;
}

.logo{
  padding-left: 0;
  margin-left: 0;
}

.grid .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  gap: 1rem;
}

.grid .logo .circle {
  height: 2rem;
  width: 2rem;
  background-color: rgb(226, 186, 7);
  border-radius: 50%;
  padding: 1rem;
}

.grid .logo h1 {
  font-size: clamp(16px, 2vw, 24px); 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.grid {
  display: grid;
  height: 5rem;
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 5rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 2.3rem;
}
ul li:not(:last-child) {
  border-right: solid black 1px;
}
nav ul a {
  color: black;
  font-weight: 499;
  text-decoration: none;
  padding-right: 1rem;

  &:hover {
    color: rgb(130, 89, 13);
  }
}
button {
  cursor: pointer;
  border: 0px;
  padding: 1rem;
  font-size: 2rem;
}

.ham-menu {
  display: none;
}

@media screen and (max-width: 770px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    text-align: end;
  }

  .menu-mobile {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    z-index: 101;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-mobile ul li {
    border-right: 0px;
  }
}

@media screen and (max-width: 827px) {
  .grid .logo h1 {
    font-size: 20px;
  }

  .container {
    max-width: 70rem;
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  header {
    height: 5rem;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}


@media (max-width: 426px) {
  header {
    height: 5rem;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}


@media (max-width: 1024px) {
  header {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
